{% extends 'store/index.html' %}
{% block product %}
<div class="product-main">

    <h2 class="title">Result:</h2>

    <div class="product-grid">
    {% for product in products %}
      <div class="showcase">

        <div class="showcase-banner">

          <img src="{{product.Product_image}}" alt={{product.Product_name}} width="300" class="product-img default">

          <div class="showcase-actions">

            <a class="btn-action">
              <ion-icon name="heart-outline"></ion-icon>
            </a>

            <button class="btn-action view-product" data-product={{product.id}} data-action="view">
              <ion-icon name="eye-outline"></ion-icon>
            </button>

            <button class="btn-action">
              <ion-icon name="repeat-outline"></ion-icon>
            </button>

            <button class="btn-action update-card" data-product={{product.id}} data-action="add">
              <ion-icon name="bag-add-outline"></ion-icon>
            </button>

          </div>

        </div>

        <div class="showcase-content">

          <a href="#" class="showcase-category">{{product.product_category_fk.Category_name}}</a>

          <a href="#">
            <h3 class="showcase-title">{{product.Product_name}}</h3>
          </a>

          <div class="showcase-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>

          <div class="price-box">
            <p class="price">{{product.Product_price|floatformat:2}}$</p>
           <!-- <del>$75.00</del>   --> 
          </div>

        </div>

      </div>
      {% endfor%}
    </div>

  </div>
  {% endblock product %}